# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User stuff
## IntelliJ IDEA files
.idea/
## CMake and Make things
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json
## Built things, configs and stuff
/*build*
Makefile
*~
lib/config.h
examples/gzipsimple
examples/ungzipsimple
examples/zlibsimple
examples/unzlibsimple
examples/rawinflater
examples/rawdeflater
*/.deps
*/stamp-h1
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
.libs
/html/
doc/html/
doc/latex/
